<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="">
    <h1>This is main paper</h1>

    <h1>Members</h1>

    <table border="1">
    <tr>
    <td>{{ x.id }}</td>
    <td>{{ x.firstname }}</td>
    <td>{{ x.lastname }}</td>
    </tr>
    </table>
    
    <p>
    <a href="add/">Add member</a>
    </p>


</body>
</html>